* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  
  body {
      background-color: #d9dcd6;
  }
  
  .box {
      vertical-align: center;
  }
  
  section div {
      margin-top: 6px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
  }
  
  section h1 {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-align: center!important;
      box-sizing: border-box;
      margin: 0 0 17.5px;
      font-family: Americana,serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      word-wrap: break-word;
      font-size: 3em;
      text-transform: none;
      letter-spacing: 0;
      color: #fff;
      margin-bottom: 8px;
      text-shadow: 0 0 4px rgba(0,0,0,.4);
      vertical-align: middle;
      text-align: center;
  }
  
  nav {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      font-family: Americana,serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      text-align: center!important;
      font-size: 1.26667em;
      text-shadow: 0 0 4px rgba(0,0,0,.4);
      box-sizing: border-box;
      margin: 0 0 19.44444px;
      margin-bottom: 0;
      color: #fff;
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
  }
  
  nav ul {
      list-style-type: none;
  }
  
  nav ul li {
      display: inline-block;
      margin-left: 25px;
  }
  
  a {
      color: #ffffff;
      text-decoration: none;
  }
  
  p {
      font-size: 16px;
  }
  
  section {
      height: 800px;
      width: 100%;
      margin-bottom: 25px;
      background-image: url("../images/Quixote\ LandPage\ Pic.jpeg");
      background-size: cover;
      background-position: center;
      margin-top: 10px;
      display: inline-table;
  }
  
  .float-left {
      float: left;
      margin-right: 25px;
  }
  
  .float-right {
      float: right;
      margin-left: 25px;
  }
  
  article {
      width: 75%;
      display: inline-block;
      margin-left: 20px;
  }
  
  aside {
      margin-right: 20px;
      padding: 20px;
      clear: both;
      float: right;
      width: 20%;
      height: 100%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #2589bd;
  }
  
  .benefit-lead {
      margin-bottom: 32px;
      color: #ffffff;
  }
  
  .benefit-brand {
      margin-bottom: 32px;
      color: #ffffff;
  }
  
  .benefit-cost {
      margin-bottom: 32px;
      color: #ffffff;
  }
  
  .benefit-lead h3 {
      margin-bottom: 10px;
      text-align: center;
  }
  
  .benefit-brand h3 {
      margin-bottom: 10px;
      text-align: center;
  }
  
  .benefit-cost h3 {
      margin-bottom: 10px;
      text-align: center;
  }
  
  .benefit-lead img {
      display: block;
      margin: 10px auto;
      max-width: 150px;
  }
  
  .benefit-brand img {
      display: block;
      margin: 10px auto;
      max-width: 150px;
  }
  
  .benefit-cost img {
      display: block;
      margin: 10px auto;
      max-width: 150px;
  }
  
  .property-field {
      margin-bottom: 20px;
      padding: 50px;
      height: 300px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #0072bb;
      color: #ffffff;
  }
  .property-field-alternate {
      margin-bottom: 20px;
      padding: 50px;
      height: 300px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #0072bb;
      color: #ffffff;
  }
/*   
  .online-reputation-management {
      margin-bottom: 20px;
      padding: 50px;
      height: 300px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #0072bb;
      color: #ffffff;
  }
  
  .social-media-marketing {
      margin-bottom: 20px;
      padding: 50px;
      height: 300px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #0072bb;
      color: #ffffff;
  } */
  
  .property-field img {
      max-height: 200px;
  }
  .property-field-alternate img {
      max-height: 200px;
  }
  
  /* .online-reputation-management img {
      max-height: 200px;
  }
  
  .social-media-marketing img {
      max-height: 200px;
  } */
  
  .search-engine-optimization h2 {
      margin-bottom: 20px;
      font-size: 36px;
  }
  
  .online-reputation-management h2 {
      margin-bottom: 20px;
      font-size: 36px;
  }
  
  .social-media-marketing h2 {
      margin-bottom: 20px;
      font-size: 36px;
  }
  
  footer {
      padding: 30px;
      clear: both;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
  }
  
  footer h2 {
      font-size: 20px;
  }
  
  
  /* Dropdown Button */
  .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: .8em;
      border: none;
      cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
    }
    
    /* The search field */
    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    
    /* The search field when it gets focus/clicked on */
    #myInput:focus {outline: 3px solid #ddd;}
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      border: 1px solid #ddd;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}